<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narnolia Vanshavali</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="/images/logo.png" alt="Baniya Vansavali Logo" class="logo">
            <h1>Narnolia Vanshavali</h1>
        </header>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'CreateUser')">Create User</button>
            <button class="tablinks" onclick="openTab(event, 'ViewUserProfile')">View User Profile</button>
            <button class="tablinks" onclick="openTab(event, 'ManageRelationships')">Manage Relationships</button>
        </div>
        <div id="CreateUser" class="tabcontent">
            <h2>Create User</h2>
            <form id="createUserForm" enctype="multipart/form-data">
                <label for="name">Name: <span class="required">*</span></label>
                <input type="text" id="name" name="name" placeholder="Enter name" required>

                <label for="gender">Gender: <span class="required">*</span></label>
                <select id="gender" name="gender" required>
                    <option value="">Select gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" placeholder="Enter address">

                <label for="pincode">Pincode: <span class="required">*</span></label>
                <input type="text" id="pincode" name="pincode" placeholder="Enter pincode" required>

                <label for="hometown">Hometown: <span class="required">*</span></label>
                <input type="text" id="hometown" name="hometown" placeholder="Enter hometown" required readonly>

                <label for="gotra">Gotra: <span class="required">*</span></label>
                <select id="gotra" name="gotra" required>
                    <option value="">Select gotra</option>
                    <script src="/js/gotra.js"></script>
                </select>

                <label for="dob">Date of Birth: <span class="required">*</span></label>
                <input type="date" id="dob" name="dob" required>

                <label for="phone">Mobile Number: <span class="required">*</span></label>
                <input type="text" id="phone" name="phone" placeholder="Enter Mobile number" required>

                <label for="marital_status">Marital Status: <span class="required">*</span></label>
                <select id="marital_status" name="marital_status" required>
                    <option value="">Select marital status</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                    <option value="Widowed">Widowed</option>
                </select>

                <label for="photo">Upload Photo:</label>
                <input type="file" id="photo" name="photo" accept="image/*">

                <input type="submit" value="Add Family Member" disabled>
            </form>
            <div id="successAlert" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                &#x2714; Family member successfully added!
            </div>
        </div>
        <div id="ViewUserProfile" class="tabcontent">
            <h2>View User Profile</h2>
            <form>
                <label for="userSelect">Select User:</label>
                <select id="userSelect" name="userSelect">
                    <!-- Options will be populated here -->
                </select>
            </form>
            <div id="userProfile">
                <!-- User profile will be displayed here -->
            </div>
        </div>
        <div id="ManageRelationships" class="tabcontent">
            <h2>Manage Relationships</h2>
            <form id="manageRelationshipsForm">
                <label for="userSelect">Select User:</label>
                <select id="userSelectForRelations" name="userSelectForRelations">
                    <option value="">Select User</option>
                    <!-- Options will be populated here -->
                </select>
                
                <label for="relationType">Relation Type:</label>
                <select id="relationType" name="relationType">
                    <option value="">Select Relation Type</option>
                    <option value="SPOUSE">Spouse</option>
                    <option value="PARENT">Parent</option>
                    <option value="CHILD">Child</option>
                </select>
        
                <label for="relatedUser">Related User:</label>
                <select id="relatedUser" name="relatedUser">
                    <option value="">Select Related User</option>
                    <!-- Options will be populated here -->
                </select>

                <div id="confirmationLine" class="confirmation-line" style="display: none;">
                    <!-- Dynamic confirmation text will appear here -->
                </div>
                <br />
        
                <input type="submit" value="Add Relationship">
            </form>
            <div id="relationSuccessAlert" class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                &#x2714; Relationship successfully added!
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>